/*
Font: 		Yorkshire Brush Script
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T6306/yorkshire
Foundry: 	Hustle Supply Co.
Foundry: 	https://www.youworkforthem.com/designer/504/hustle-supply-co
Copyright:	2016
Version: 	17
Created:	March 22, 2016
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'YorkshireBrushScript-Regular';
	src: url('yorkshire-brush-script.eot');
	src: url('yorkshire-brush-script.eot?#iefix') format('embedded-opentype'),
             url('yorkshire-brush-script.woff2') format('woff2'),
	     url('yorkshire-brush-script.woff') format('woff'),
	     url('yorkshire-brush-script.ttf') format('truetype'),
	     url('yorkshire-brush-script.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
